<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Multi2FA TOTP</string>
	<key>CFBundleDisplayName</key>
	<string>Multi2FA TOTP</string>
	<key>CFBundleIdentifier</key>
	<string>io.github.keklick1337.multi2fa</string>
	<key>CFBundleExecutable</key>
	<string>multi2fa</string>
	<key>CFBundleIconFile</key>
	<string>icon</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>@VERSION@</string>
	<key>CFBundleVersion</key>
	<string>@BUILD@</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>The camera is used to scan two-factor QR codes.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (c) 2026 keklick1337</string>
</dict>
</plist>
